<div class="bg-text2">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <div class="input-group">
                <div class="input-group-prepend2">
                    <span class="input-group-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                </div>
                <a class="nav-link active login_btn2" routerLink="/home" routerLinkActive="active">ไปที่หน้าหลักของลูกค้า</a>
            </div>
        </li>
    </ul>
</div>
<div class="bg"></div>
<div class="container">
    <div class="bg-text">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Employee sign in</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="dataLoginEm">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName='username' placeholder="employeename">
                        </div>
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                            <div *ngIf="username.errors.required">
                                employeename is required
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                            </div>
                            <input type="password" class="form-control" formControlName='password' placeholder="password">
                        </div>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                            <div *ngIf="password.errors.required">
                                password is required
                            </div>
                        </div>
                        <!--div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div-->
                        <br>
                        <div class="form-group">
                            <button (click)="LoginEm()" type="submit" class="btn float-right login_btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>