<div class="bg"></div>
<div class="container">
    <div class="bg-text">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Employee sign in</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="dataLoginEm">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName='username' placeholder="username">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                            </div>
                            <input type="password" class="form-control" formControlName='password' placeholder="password">
                        </div>
                        <!--div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div-->
                        <br>
                        <div class="form-group">
                            <button (click)="LoginEm()" type="submit" class="btn float-right login_btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>