<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" aria-readonly="">Phone-Shop</a>

        <ul class="navbar">
            <button class="btn btn-outline-success" routerLink="/addlist" routerLinkActive="active" type="button">Add new product</button>
            <button class="btn btn-outline-primary" routerLink="/showlist" routerLinkActive="active" type="button">show product list</button>
            <button class="btn btn-outline-warning" routerLink="/orderlist" routerLinkActive="active" type="button">order list</button>
            <button class="btn btn-outline-light" routerLink="/orderconfirm" routerLinkActive="active" type="button">order confirm</button>
        </ul>

        <ul class="navbar-nav ml-auto">
            <a class="btn btn-info" role="button">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
            </a>
            <li class="nav-item">
                <a class="nav-link" readonly>{{getUsername()}}</a>
            </li>
        </ul>
    </div>
    <form class="ml-md-2 my-2 my-lg-0">
        <a class="btn btn-danger" (click)="Logout()" role="button">Log Out</a>
    </form>
</nav>