<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="/addlist">Phone-Shop</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark text-primary" routerLink="/addlist" routerLinkActive="active"
                    type="button">Add new product</button>
                <button class="btn btn-dark text-success" routerLink="/showlist" routerLinkActive="active"
                    type="button">show product list</button>
                <button class="btn btn-dark text-warning" routerLink="/orderlist" routerLinkActive="active"
                    type="button">order list</button>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-info" role="button">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" readonly>{{getUsername()}}</a>
            </li>
        </ul>
    </div>
    <form class="ml-md-2 my-2 my-lg-0">
        <a class="btn btn-danger" (click)="Logout()" role="button">Log Out</a>
    </form>
</nav>