<html>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/productlist">Phone-Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr auto">
                    <input type="text" class="form-control" placeholder="ค้นหาสินค้า" [(ngModel)]="term">
                </ul>
                <ul class="navbar-nav mr auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">สถานะคำสั่งซื้อ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orderhistory">ประวัติการสั่งซื้อ</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    &nbsp;
                    <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                        <span class="badge badge-info"></span>
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" readonly>สวัสดี! คุณ {{getUsername()}}</a>
                    </li>
                </ul>
            </div>
            <form class="ml-md-2 my-2 my-lg-0">
                <button type="button" (click)="Logout()" class="btn btn-danger">ออกจากระบบ</button>
            </form>
        </div>
    </nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let item of (getAllData()| filter:term) index as i">
            <div class="card mb-3" style="box-shadow: 0 0 10px #666;">
                <img class="card-img-top" [src]="item.img" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{item.nameCargo}}</p>
                    <p class="card-text"> <a class="btn btn-warning btn-sm" href="/productdetail/{{item._id}}" role="button">ดูข้อมูล</a> ราคา : <span>{{item.price | number}}</span> บาท
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<html>