<html>
    <app-cus-navbar></app-cus-navbar>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to Phone-Shop</h1>
         </div>
    </section>
    <div class="container">
        <div class="form-row">
            <div class="col-md-12 mb-3 form-inline">
                <a class="btn" readonly>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
                <input type="text" class="form-control" placeholder="ค้นหาสินค้า" [(ngModel)]="term">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" *ngFor="let item of (getAllData()| filter:term) index as i">
                <div class="card mb-3" style="box-shadow: 0 0 10px #666;">
                    <img class="card-img-top" [src]="item.img" alt="Card image cap" >
                    <div class="card-body">
                        <p class="card-text">{{item.nameCargo}}</p>
                        <p class="card-text"> <a class="btn btn-warning btn-sm" href="/productdetail/{{item._id}}" role="button">ดูข้อมูล</a> ราคา : <span>{{item.price | number}}</span> บาท
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
<html>