<div class="bg-text2">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <div class="input-group">
                <div class="input-group-prepend2">
                    <span class="input-group-text"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
                </div>
                <a class="nav-link active login_btn2" routerLink="/loginem" routerLinkActive="active">สำหรับพนักงาน</a>
            </div>
        </li>
    </ul>
</div>
<div class="bg"></div>
<div class="container">
    <div class="bg-text">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="dataLogin">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName='username' placeholder="username">
                        </div>
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                            <div *ngIf="username.errors.required">
                                username is required
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                            </div>
                            <input type="password" class="form-control" formControlName='password' placeholder="password">
                        </div>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                            <div *ngIf="password.errors.required">
                                password is required
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button (click)="Login()" type="submit" class="btn float-right login_btn">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a routerLink="/registry" routerLinkActive="active">Sign Up</a>
                    </div>
                    <br/>
                    <!--div class="text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <a style="display: inline" class="btn login_btn" [href]="googleUrl">Google</a>
                            </div>
                            <div class="col-md-6">
                                <a style="display: inline" class="btn login_btn" [href]="getUrlFacebook()">Facebook</a>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</div>