<app-em-navbar></app-em-navbar>
<br>

<div class="container">
    <div class="form-row">
        <div class="col-md-12 mb-3 form-inline">
            <a class="btn" readonly>
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
        </div>
    </div>
</div>
<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>ลำดับ</th>
            <th>รหัสสินค้า</th>
            <th>รูป</th>
            <th>ชื่อสินค้า</th>
            <th>ระบบประฏิบัติการ</th>
            <th>ราคา (บาท)</th>
            <th>จำนวน (เครื่อง)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of (getAllData() | filter:term) index as i">
            <td scope="row">{{i+1}}</td>
            <td>{{item.codeCargo}}</td>
            <td>
                <img [src]="item.img" class="mr-4" style="width: 100px">
            </td>
            <td>{{item.nameCargo}}</td>
            <td>{{item.typeOS}}</td>
            <td>{{item.price | number}}</td>
            <td>{{item.quantity}}</td>
            <td>
                <div class="form-row">
                    <div class="col-md-5">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" (click)="getSomeData(item._id)"><i class="fa fa-pencil-square-o" aria-hidden="true">แก้ไข</i></button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-danger" (click)="deleteProduct(item._id)"><i class="fa fa-trash" aria-hidden="true">ลบ</i></button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">แก้ไขสินค้า <u><i><b>{{this.codeC}}</b></i></u></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p style="color:red">***หมายเหตุ: <br>- ถ้าไม่ต้องการแก้ไขข้อมูลทั้งหมดกรุณาใส่เครื่องหมาย - ในช่องข้อมูลที่ไม่ต้องการแก้
                    <br>- ในช่องที่เป็นจำนวนให้ใส่เลข 0 ในช่องที่ไม่ต้องการแก้
                    <br>- ใน Dropbox ถ้าไม่ต้องการเปลี่ยนให้ปล่อยว่าง
                </p>
                <form [formGroup]="dataLists">
                    <div class="form">
                        <label for="recipient-name" class="col-form-label">ชื่อสินค้า: <u><i><b>{{this.nameC}}</b></i></u></label>
                        <input type="text" class="form-control" formControlName='nameCargo' required>
                    </div>
                    <div *ngIf="nameCargo.invalid && (nameCargo.dirty || nameCargo.touched)" class="alert alert-danger">
                        <div *ngIf="nameCargo.errors.required">
                            กรุณากรอกชื่อผลิตภัณฑ์
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="message-text" class="col-form-label">จำนวนสินค้า: <u><i><b>{{this.quan}}</b></i></u> เครื่อง</label>
                            <input type="number" formControlName="quantity" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="message-text" class="col-form-label">ราคา: <u><i><b>{{(this.prices | number)}}</b></i></u> บาท</label>
                            <input type="text" class="form-control" formControlName='price' required>
                        </div>
                    </div>
                    <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger">
                        <div *ngIf="quantity.errors.required">
                            กรุณาใส่จำนวนของสินค้า
                        </div>
                        <div *ngIf="quantity.errors.min">
                            จำนวนสินค้าไม่เท่ากับ 0 และไม่น้อยกว่า 0
                        </div>
                    </div>
                    <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
                        <div *ngIf="price.errors.required">
                            กรุณาใส่ราคา
                        </div>
                        <div *ngIf="price.errors.min">
                            ราคาของสินค้าไม่เท่ากับ 0 และไม่น้อยกว่า 0
                        </div>
                    </div>

                    <div formGroupName="detail">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="message-text" class="col-form-label">ระบบประฏิบัติการ: <u><i><b>{{this.type}}</b></i></u></label>
                                <select class="browser-default custom-select" formControlName="typeOS" class="form-control">
                                    <option *ngFor="let os of getAllProOS()">{{os.os_name}}</option>
                                  </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="message-text" class="col-form-label">จอแสดงผล: <u><i><b>{{this.dis}}</b></i></u></label>
                                <input type="text" class="form-control" formControlName='display' required>
                            </div>
                        </div>
                        <div *ngIf="display.invalid && (display.dirty || display.touched)" class="alert alert-danger">
                            <div *ngIf="display.errors.required">
                                กรุณากรอกจอแสดงผล
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="message-text" class="col-form-label">ROM: <u><i><b>{{this.roms}}</b></i></u> GB</label>
                                <input type="text" formControlName="rom" class="form-control" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="message-text" class="col-form-label">ความจำภายนอก: <u><i><b>{{this.exDrive}}</b></i></u> GB</label>
                                <input type="text" class="form-control" formControlName='externalDrive' required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="message-text" class="col-form-label">แบตเตอรี่: <u><i><b>{{this.bat}}</b></i></u> mAh</label>
                                <input type="text" class="form-control" formControlName='batt' required>
                            </div>
                        </div>
                        <div *ngIf="rom.invalid && (rom.dirty || rom.touched)" class="alert alert-danger">
                            <div *ngIf="rom.errors.required">
                                กรุณาใส่จำนวน rom
                            </div>
                        </div>
                        <div *ngIf="externalDrive.invalid && (externalDrive.dirty || externalDrive.touched)" class="alert alert-danger">
                            <div *ngIf="externalDrive.errors.required">
                                กรุณาใส่จำนวนความจำภายนอก
                            </div>
                        </div>
                        <div *ngIf="batt.invalid && (batt.dirty || batt.touched)" class="alert alert-danger">
                            <div *ngIf="batt.errors.required">
                                กรุณาใส่ความจุของแบตเตอรี่
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            รูปสินค้า
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="file" class="form-control-file" formControlName='file' accept="image/*" ngf-max-size="2MB" (change)="onChangeImg($event)">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="file.invalid && (file.dirty || file.touched)" class="alert alert-danger">
                        <div *ngIf="file.errors.required">
                            กรุณาเลือกใส่ไฟล์รูป
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <img *ngIf="previewLoaded" class="img-thumbnail" [src]="this.dataLists.value.img" style="height:150px;">
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3" style="box-shadow: 0 0 10px #666;">
                                <img class="card-img-top" [src]="this.imag" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="img.invalid && (img.dirty || img.touched)" class="alert alert-danger">
                        <div *ngIf="img.errors.required">
                            กรุณาเลือกรูป
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateProduct(product._id)">บันทึกข้อมูล</button>
                <button type="button" class="btn btn-danger" (click)="resetData()">ล้างข้อมูล</button>
            </div>
        </div>
        <!--div class="card">
            <div class="card-body">
                <h4 class="card-title">Display : </h4>
                <p class="card-text">
                    {{ dataLists.value|json }}
                </p>
                <p class="card-text">
                    Form Status: {{ dataLists.status|json }}
                </p>
            </div>
        </div-->
    </div>
</div>