<div class="card text-light bg-dark mb-3">
    <div class="card-body">
        <h2 class="card-title">สมัครสมาชิก</h2>
        <div class="card" style="color:black">
            <div class="card-body">
                <form [formGroup]="registerForm" style="text-align: left;">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFirtN">ชื่อ</label>
                            <input type="text" class="form-control" formControlName='firstName' placeholder="First Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastN">นามสกุล</label>
                            <input type="text" class="form-control" formControlName='lastName' placeholder="Last Name">
                        </div>
                    </div>

                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">
                            กรุณากรอกชื่อ
                        </div>
                    </div>
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">
                            กรุณากรอกนามสกุล
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">เพศ: </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="sex" value="Male" formControlName='sex'> ชาย
                        </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="sex" value="Female" formControlName='sex'> หญิง
                        </label>
                        </div>
                    </div>
                    <div *ngIf="sex.invalid && (sex.dirty || sex.touched)" class="alert alert-danger">
                        <div *ngIf="sex.errors.required">
                            กรุณาเลือกเพศ
                        </div>
                    </div>
                    <br/>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="username">ชื่อผู้ใช้</label>
                            <input type="text" class="form-control" formControlName='username' placeholder="Username">
                        </div>
                    </div>
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        <div *ngIf="username.errors.required">
                            กรุณากรอกชื่อผู้ใช้งาน
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">อีเมลล์</label>
                            <input type="email" class="form-control" formControlName='email' placeholder="name@example.com">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">รหัส</label>
                            <input type="password" class="form-control" formControlName='password' placeholder="Password">
                        </div>
                    </div>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors.email">
                            email ไม่ถูกต้อง
                        </div>
                        <div *ngIf="email.errors.required">
                            กรุณากรอก email
                        </div>
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                            กรุณากรอก password
                        </div>
                        <div *ngIf="password.errors.pattern">
                            กรุณาใส่อย่างน้อย 8 ตัว แต่ไม่เกิน 15 ตัว
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tel">เบอร์โทรศัพท์</label>
                            <input type="text" class="form-control" formControlName='tel' placeholder="0xx-xxxxxxx">
                        </div>
                    </div>
                    <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="alert alert-danger">
                        <div *ngIf="tel.errors.required">
                            กรุณากรอกหมาเลขโทรศัพท์
                        </div>
                        <div *ngIf="tel.errors.pattern">
                            หมายเลขโทรศัพท์ไม่ถูกต้องกรุณากรอกให้ครบ
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div formGroupName="address">
                                <h5>ที่อยู่</h5>
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label for="street">บ้านเลขที่, หมู่ที่</label>
                                        <input class="form-control" formControlName='Hnum' placeholder="บ้านเลขที่ 1 หมู่ 1">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="parish">แขวง/ตำบล</label>
                                        <input type="text" class="form-control" formControlName='parish'>
                                    </div>
                                </div>
                                <div *ngIf="Hnum.invalid && (Hnum.dirty || Hnum.touched)" class="alert alert-danger">
                                    <div *ngIf="Hnum.errors.required">
                                        กรุณากรอกที่อยู่เบื้องต้น
                                    </div>
                                </div>
                                <div *ngIf="parish.invalid && (parish.dirty || parish.touched)" class="alert alert-danger">
                                    <div *ngIf="parish.errors.required">
                                        กรุณากรอก แขวง/ตำบล
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="district">เขต/อำเภอ</label>
                                        <input class="form-control" formControlName='district'>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="province">จังหวัด</label>
                                        <input class="form-control" formControlName='province'>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="zip">รหัสไปรษณีย์</label>
                                        <input type="text" class="form-control" formControlName='zip'>
                                    </div>
                                </div>

                                <div *ngIf="district.invalid && (district.dirty || district.touched)" class="alert alert-danger">
                                    <div *ngIf="district.errors.required">
                                        กรุณากรอก อำเภอ
                                    </div>
                                </div>
                                <div *ngIf="province.invalid && (province.dirty || province.touched)" class="alert alert-danger">
                                    <div *ngIf="province.errors.required">
                                        กรุณากรอก จังหวัด
                                    </div>
                                </div>
                                <div *ngIf="zip.invalid && (zip.dirty || zip.touched)" class="alert alert-danger">
                                    <div *ngIf="zip.errors.required">
                                        กรุณากรอกรหัสไปรษณีย์
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" name="check" type="checkbox" value="false" formControlName='check'>
                            <label class="form-check-label" for="check">ฉันยอมรับ</label>
                        </div>
                    </div>
                    <div *ngIf="check.invalid && (check.dirty || check.touched)" class="alert alert-danger">
                        <div *ngIf="check.errors.required">
                            กรุณาติ๊กถูก
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" (click)="saveRegister()">บันทึกข้อมูล</button>&nbsp;
                            <button type="button" class="btn btn-danger" (click)="reset()">ล้างข้อมูล</button>&nbsp;
                            <button type="button" class="btn btn-dark" routerLink="/home" routerLinkActive="active">ย้อนกลับ</button>
                        </div>
                    </div>
                </form>
                <br/>
                <!--div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Display : </h4>
                        <p class="card-text">
                            {{ registerForm.value|json }}
                        </p>
                        <p class="card-text">
                            Form Status: {{ registerForm.status|json }}
                        </p>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</div>