<html>
<!-- header navbar -->
<app-cus-navbar></app-cus-navbar>

<!-- body -->
<!-- Search -->
<div class="card-header">
    <div class="container">
        <div class="col-md-5">
            <div class="btn-group mx-3" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light" (click)="bt=0">ทั้งหมด</button>
                <button type="button" class="btn btn-light" (click)="bt=1">รอการยืนยัน</button>
                <button type="button" class="btn btn-light" (click)="bt=2">กำลังจัดส่ง</button>
                <button type="button" class="btn btn-light" (click)="bt=3">ที่ต้องได้รับ</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- show order -->
    <div *ngFor="let item of getAllData() index as i">
        <div *ngIf="checkButtonAndStatus(item.status)">

            <div class="mx-auto mt-3" style="width:95%; box-shadow: 1px 1px 10px 2px rgb(141, 141, 141);">
                <div class="card-header" style="background-color: rgba(158, 158, 158, 0.1);">
                    <div class="row">
                        <div class="col">
                            <div class="row pl-3">
                                คำสั่งซื้อ
                                <div class="text-info">#{{item._id}}</div>
                            </div>
                            <div style="color:grey; font-size: 70%;">สั่งซื้อวันที่ {{item.date| date:'dd-MMMM-yyyy'}}</div>
                        </div>
                        <div class="col">
                            <div class="text-right">
                                <h5>
                                    <div class="text" style="color: rgb(106, 50, 196); ">{{item.status}}</div>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <img [src]="item.img" class="mr-4" style="width: 100px">
                        </div>
                        <div class="col">
                            <div>{{item.name}}</div>
                            <div>฿{{item.price | number}} (price per piece)</div>
                            <div class="text-black-50">x{{item.quantity}} </div>
                            <hr />
                            <div class="text-right">
                                การสั่งซื้อรวม :
                                <h4>
                                    <div class="text-danger">฿{{item.price* item.quantity | number}}</div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-danger" (click)="updateCancelProduct(item._id)" *ngIf="item.status == 'รอการยืนยัน'"><i class="fa fa-trash" aria-hidden="true"></i> ยกเลิก</button>
                        <button type="button" class="btn btn-success" (click)="updateGetProduct(item._id)" *ngIf="item.status == 'ที่ต้องได้รับ'"><i class="fa fa-check" aria-hidden="true"></i> ได้รับสินค้าแล้ว</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

</html>